{
  "presets": [
    ["@babel/preset-env"]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ["prismjs", {
      "languages": [
        "javascript", "markup", "go", "python",
        "ruby", "yaml", "vim", "sql", "scss", "sass",
        "css", "nginx", "less", "docker", "cpp"
      ],
      "plugins": ["line-numbers"],
      "css": true
    }]
  ]
}
