.post-show-container {

  .post-content-index {
    position: fixed;
    background: #ffffed;
    border-radius: 15px;
    margin: 15px 0 0 15px;

    .i_node_tag:last-child{
      border: none;
    }

    .i_node_tag {
      padding: 10px;
      cursor: pointer;
      border-bottom: #b8b7be 1px solid;

      &:hover {
        background: #FFFFC0
      }

      &.H2 {
        padding-left: 15px;
      }

      &.H3 {
        padding-left: 25px;
      }

      &.H4 {
        padding-left: 35px;
      }
    }
  }

  .post-title {
    width: 100%;
    text-align: center;
    background: #dfe8b5;
    line-height: 30px;
    padding: 5px;
  }

  .fb-comments-container {
    text-align: center;
    margin-top: 20px;
    background: #d7f1f7;
  }

  .edit-area {
    display: inline-block;
    float: none;
  }

  @keyframes easeIn {
    from {
      opacity: 0.2;
      filter:blur(1px);
      left: -500px;
    }

    to {
      opacity: 1;
      filter:blur(0);
      left: 0
    }
  }

  .post-content {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    min-width: 500px;
    max-width: 800px;
    border: #9c9c9b 1px solid;
    padding: 10px;
    background: #ffffed;
    border-radius: 5px;
    animation: easeIn .4s ease-in-out;
  }

  .post-tags {
    margin-bottom: 10px;

    span {
      font-size: 12px;
      border: 1px solid orange;
      padding: 2px 5px;
      color: coral;
      margin-right: 2px;
    }
  }
}

@keyframes easeOut {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}