.new-posts-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.post-title {
  width: 47vw;
  font-size: 2rem;
  text-align: center;
};

.post-input {
  flex: 1;
  .post-content {
    width: 100%;
    textarea {
      width: 47vw;
      min-height: 100vh;
    }
  }
}

.post-preview {
  flex: 1;
  width: 100%;
  border: 1px solid #000000;
}

.submit-area {
  text-align: center;
  input {
    width: 20vw;
  }
}