.posts {
  text-align: center;
  margin-top: 75px;
}

.post-item {
  margin: 40px 20%;
  border-bottom: #CCCCCC 1px solid;
  a {
    color: #000000;
    text-decoration: none;
  };

  .post-item__title {
    color: #000000;
    font-size: 2rem;
    display: flex;

    .title-area {
      flex: 1;
    };

    .title {
      transition: font-weight .1s ease-in;
    };

    .title:hover {
      font-weight: 600;
    }

    .post-item__tags {
      //display: inline-block;
      //position: absolute;
      margin-bottom: 10px;

      span {
        font-size: 12px;
        border: 1px solid orange;
        padding: 2px 5px;
        color: coral;
        margin-right: 2px;
      }

    }
  };

  .post-item__updated_at {
    color: #CCCCCC;
    font-size: 1rem;
    font-weight: lighter;
  }
}

.edit-area {
  float: right;

  button {
    border-radius: 5px;
    color: floralwhite;
  }
}